name: Secrets-Guard Demo

on:
  push:
    branches:
      - leak-test
  workflow_dispatch:

jobs:
  secrets-guard:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: pinfloyd/secrets-guard@v2.2.0